__pycache__/game.cpython-38.pyc
__pycache__/level.cpython-38.pyc
__pycache__/level.cpython-38.pyc
__pycache__/level.cpython-38.pyc
nvx/__pycache__/__init__.cpython-38.pyc
nvx/__pycache__/levelmanager.cpython-38.pyc
nvx/__pycache__/tuto.cpython-38.pyc
data/start.txt
nvx/tmp.txt
*.pyc
data/player.txt
